<mat-card class="mat-elevation-z0">
  <mat-card-content>
    <form [formGroup]="loginForm" fxLayout="column">
      <mat-form-field>
        <input matInput formControlName="username" placeholder="用户名">
        <mat-error>请输入用户名!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="密码">
        <mat-error>请输入密码!</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between start">
    <button mat-raised-button type="button" [disabled]="!loginForm.valid" (click)="register()">确认</button>
    <button mat-raised-button type="button" mat-dialog-close>取消</button>
  </mat-card-actions>
</mat-card>
