@import './styles/icons';

body, p, ul { margin: 0; padding: 0; }
a { text-decoration: none; color: inherit; }
ul { list-style-type: none }

body {
    font-family: 'Product Sans',Arial,sans-serif;
}

.progress-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

@import './styles/theme';
